    .container {
        font-family: "Noto Sans", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    .nav {
        width: 100%;
        margin: 20px 0 40px 0;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }

    .login {
        height: 60px;
        width: 60px;
        background-color: rgb(183, 183, 183);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }

    #profile-icon {
        height: 30px;
        width: auto;
    }

    #files{
        display: flex;
        flex-direction: column;
        
    }

    .header {
        height: 60px;
        width: 520px;
        background-color: rgb(241, 241, 241);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        margin: 20px;
    }

    .name {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 16px;
        color: rgb(10, 10, 10);
    }

    .button {
        display: flex;
        justify-content: center;
        width: 50px;
        border: none;
        background-color: rgb(45, 45, 45);
        color: white;
        margin: 16px;
        padding: 8px;
        border-radius: 4px;
        font-weight: 600;
    }

    .button:hover {
        box-shadow: 3px 3px 15px rgb(182, 182, 182);
    }

    @media screen and (min-width: 500px) and (max-width: 900px) {
        .container {
            font-family: "Noto Sans", sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        h1 {
            margin: 20px;

        }

        .header {
            margin: 12px;
            height: 60px;
            width: 70%;
            background-color: rgb(241, 241, 241);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
        }

        .name {
            font-size: 1.2rem;
            font-weight: 600;
            margin: 16px;
            color: rgb(10, 10, 10);
        }

        .button {
            display: flex;
            justify-content: center;
            width: 50px;
            border: none;
            background-color: rgb(45, 45, 45);
            color: white;
            margin: 16px;
            padding: 8px;
            border-radius: 4px;
            font-weight: 600;
        }

        .button:hover {
            box-shadow: 3px 3px 15px rgb(182, 182, 182);
        }
    }

    @media screen and (max-width: 500px) {
        .container {
            font-family: "Noto Sans", sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        h1 {
            margin: 20px;
            font-size: 26px;
            font-weight: 600;
        }

        .header {
            margin: 12px;
            height: 60px;
            width: 80%;
            background-color: rgb(241, 241, 241);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
        }

        .name {
            font-size: 16px;
            font-weight: 600;
            margin: 16px;
            color: rgb(10, 10, 10);
        }

        .button {
            display: flex;
            justify-content: center;
            width: 50px;
            border: none;
            background-color: rgb(45, 45, 45);
            color: white;
            margin: 16px;
            padding: 8px;
            border-radius: 4px;
            font-weight: 600;
            font-size: 14px;
        }

        .button:hover {
            box-shadow: 3px 3px 15px rgb(182, 182, 182);
        }
    }